/* src/styles/global.css */

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../../tailwind.config.js";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700; 
  font-optical-sizing: auto;
  font-style: normal;
}

html.theme-transition {
  transition: none;
  animation: themeFade 0.4s ease-in-out;
}

@keyframes themeFade {
  0% {
    opacity: 0.7;
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}


html {
  transition: background-color 0.6s ease-in-out, 
              color 0.6s ease-in-out,
              filter 0.6s ease-in-out,
              transform 0.4s ease-in-out;
}

body {
    transition: background-color 0.6s ease-in-out, 
              color 0.6s ease-in-out;
}


@media (max-width: 1024px) {
  main {
    padding-top: 4rem; /* Ajustable segons mida del header */
  }
}




