---
// src/components/Footer.astro
const { nom, t } = Astro.props

---
<footer class="text-slate-500 dark:text-slate-400 text-xs border-t border-slate-200 dark:border-slate-700 pt-4 ">
  <div class="flex flex-col gap-1 items-center lg:items-start">
    <p class="italic">{t['footer.design']}</p>
    <p>{t['footer.content']}</p>
    <p class="font-semibold">&copy; {new Date().getFullYear()} {nom}</p>
  </div>
</footer>